{{#contentFor "post_css"}}
<style>hr{background-image:url("data:image/svg+xml;utf8,{{>icons/site/zigzag}}")}</style>
{{/contentFor}}
<div class="post-header item is-hero{{^if feature_image}} no-image{{/if}}">
	<div class="item-container">
		{{#if feature_image}}
		<div class="item-image global-image">
			{{>images/post_image}}
		</div>
		{{/if}}
		<div class="item-content">
			<div class="item-tags global-tags">
				{{>members/visibility_label}}
				{{tags separator=""}}
			</div>
			{{#has tag="Link Posts"}}
			<h1 class="item-title"><a href="{{canonical_url}}" target="_blank">{{title}} &#8594;</h1>
				{{else}}
			<h1 class="item-title">{{title}}</h1>
			{{/has}}
			{{#if membership}}
			<p class="membership-excerpt item-excerpt global-zigzag">
				{{#if custom_excerpt}}
				{{>icons/site/zigzag}}
				{{{custom_excerpt}}}
				{{else}}
				{{>icons/site/zigzag}}
				{{t "Unlock full access to {blog-title} and see the entire library of subscribers-only content & updates" blog-title=@site.title}}
				{{/if}}
			</p>
			{{else}}
			{{#if custom_excerpt}}
			<p class="item-excerpt global-zigzag">
				{{>icons/site/zigzag}}
				{{{custom_excerpt}}}
			</p>
			{{/if}}
			{{/if}}
			{{#is "post"}}
			<div class="item-meta global-meta">

					<div class="item-time">
						<time datetime="{{date format="YYYY-MM-DD"}}">{{date published_at format="LL"}}</time> ∙ {{reading_time minute=(t "1 minute read") minutes=(t "% minutes read")}}
					
				</div>
			</div>
			{{/is}}
		</div>
	</div>
</div>
